@import '../../../baseSizes';
@import '../../../baseProportions';

$mobile-spec-panel-max-width: $big-area;
$little-mobile-spec-panel-max-width: $medium-area;
$littler-mobile-spec-panel-max-width: $small-area;
$littlest-mobile-spec-panel-max-width: $tiny-area;

$spec-panel-max-width: $huge-area;
$spec-panel-spacing: $huge;
$spec-panel-bottom-spacing: $tiny;
$spec-panel-caret-size: $big;
$spec-panel-max-height-for-animation: $phi * $enormous-area;

$presets-spacing: $medium;

$spec-controls-vertical-spacing: $big;
