$black: #000000;
$almost-black: #222222;
$dark-grey: #444444;
$grey: #aaaaaa;
$light-grey: #dddddd;
$almost-white: #eeeeee;
$white: #ffffff;

$invalid: #ddaaaa;
$unsubmitted: #ddddaa;
$focus: #aaaadd;
$hover: #444844;
