@import '../../sizes';

#performer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: $middle-plus-right-columns-spacing $middle-plus-right-columns-horizontal-spacing;
}
