@import '../../baseColors';

$spec-control-track: nth($greys, 4);
$spec-control-thumb-and-checkbox: nth($greys, 2);

$spec-control-track-hover: nth($greys, 5);
$spec-control-thumb-and-checkbox-hover: nth($greys, 3);

$control-background: nth($greys, 6);
$control-background-hover: nth($greys, 7);
