@import './colors';
@import './sizes';

button {
  cursor: pointer;
  background: $light-grey;
  border: none;
  outline: none;
  border-radius: $border-size;
  height: $big;
  min-width: $huge;

  &:disabled {
    cursor: inherit;
    color: $grey;
  }

  &:focus {
    box-shadow: 0 0 $line-size $line-size $focus;
    -webkit-box-shadow: 0 0 $line-size $line-size $focus;
    -webkit-appearance: none;
  }
}
