@import '../../colors';
@import '../../sizes';
@import '../../effects';

button {
  cursor: pointer;
  background: $light-grey;
  border: none;
  outline: none;

  border-radius: $border-size;
  height: $big;
  min-width: $huge;

  &:disabled {
    cursor: inherit;
    color: $dark-grey;
  }

  &:focus {
    @include glow($focus);
  }

  &:hover:enabled {
    background-color: $lighter-grey;
    color: $darker-grey;
  }
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-family: inherit;

  &:hover {
    color: $lighter-grey;
  }
}
