#container, #root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: 4181fr 6765fr 2584fr;
  grid-template-rows: 1fr;
}

#left {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: #eeeeee;
}

#center {
  grid-column-start: 2;
  grid-column-end: 2;
  background-color: #ffffff;
}

#right {
  grid-column-start: 3;
  grid-column-end: 3;
  background-color: #dddddd;
}

#left, #center, #right {
  padding: 0 20px;
}
