@import '../../colors';
@import '../../sizes';

#container, #root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  display: grid;
  grid-template-columns: $left $center $right;
  grid-template-rows: 1fr;
}

#left {
  text-align: left;
  grid-column-start: 1;
  grid-column-end: 1;

  background-color: $dark-grey;
  color: $grey;
}

#center {
  grid-column-start: 2;
  grid-column-end: 2;

  background-color: $white;
  color: $almost-black;
}

#right {
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 3;

  background-color: $almost-white;
  color: $almost-black;
}

#left, #right {
  padding: 0 $big;
}

#center {
  padding: 0 $huge;
}
