@import '../../colors';
@import '../../sizes';

#root, body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  min-height: 100%;

  #patterns-panel {
    background-color: $dark-grey;
    color: $grey;

    padding: 0 $big;

    min-width: $small-area + $big;

    flex: 1;

    &.closed {
      flex: 0;
      min-width: $huge;
      padding: 0;

      #title, ul {
        display: none;
      }
    }
  }

  #container {
    flex: $phi + $phi + 1;

    display: flex;
    flex-direction: column;
  }
}

.row {
  flex-grow: 0;

  display: flex;
  flex-wrap: wrap;

  .left, .right {
    padding: $big;
    color: $almost-black;
  }

  .left {
    flex: $phi;
    text-align: left;
    background-color: $white;
    min-width: $big-area - $big - $big;
  }

  .right {
    flex: 1;
    text-align: right;
    background-color: $grey;
    min-width: $medium-area - $big - $big;

    &:empty {
      padding: 0 $big;
    }
  }
}

#first-row {
  min-height: $small-area;
}

#second-row {
  min-height: $big-area;
}

#bottom-row {
  flex-grow: 1;
  align-items: stretch;
}
