@import '../../sizes';
@import '../../effects';
@import './proportions';
@import './sizes';

#main-panel {
  flex: $main-panel-proportion;
  display: flex;
  flex-direction: column;

  .right {
    overflow-x: auto;

    @include animate(flex, min-width);

    @media screen and (max-width: $mobile-size) {
      min-width: $right-min-width-mobile;
    }
  }

  &.right-panel-open .right {
    flex: $right-proportion;
    min-width: $right-min-width;
  }

  &.right-panel-closed .right {
    flex: $right-proportion-closed;
    min-width: 0;
  }
}
