@import '../../baseProportions';

$side-panel-proportion: 1;
$main-panel-proportion: $phi + $phi + 1;

$left-proportion: $phi;
$right-proportion: 1;
$right-proportion-closed: ((((1 / $phi) / $phi) / $phi) / $phi) / $phi;
