@import '../../colors';
@import '../../effects';
@import '../../sizes';
@import './proportions';
@import './sizes';

.row {
  display: flex;
  flex-wrap: wrap;

  .left,
  .right {
    color: $text-color;

    p,
    img,
    h1,
    h3 {
      padding: $main-panel-spacing;
    }
  }

  .left {
    flex: $left-proportion;
    min-width: $left-min-width;

    @media screen and (max-width: $mobile-size) {
      min-width: $left-min-width-mobile;
    }

    background-color: $left-panel-background;
  }

  .right {
    flex: $right-proportion;
    min-width: $right-min-width;

    @media screen and (max-width: $mobile-size) {
      min-width: $right-min-width-mobile;
    }

    background-color: $right-panel-background;
    text-align: right;

    @include animate(flex, min-width);

    overflow-x: hidden;

    &.closed {
      flex: $right-proportion-closed;
      min-width: 0;
    }
  }
}
