@import '../../sizes';
@import '../../colors';

.row {
  display: flex;
  flex-wrap: wrap;

  .left, .right {
    color: $almost-black;

    p, img, h1 {
      padding: $big;
    }
  }

  .left {
    flex: $phi;
    min-width: $huge-area;
    @media screen and (max-width: $huge-area) {
      min-width: $big-area;
    }

    background-color: $almost-white;
  }

  .right {
    flex: 1;
    min-width: $big-area;
    @media screen and (max-width: $huge-area) {
      min-width: $medium-area;
    }

    background-color: $grey;

    text-align: right;

    transition: flex $duration $easeInOutQuint, min-width $duration $easeInOutQuint;

    overflow-x: hidden;

    &.closed {
      flex: ((((1 / $phi) / $phi) / $phi) / $phi) / $phi;
      min-width: 0;
    }
  }
}

#first-row {
  min-height: $huge;
}

#second-row {
  min-height: $medium-area;

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

#bottom-row {
  flex-grow: 1;
  align-items: stretch;
}
