@import '../../colors';
@import '../../effects';
@import '../../sizes';
@import './proportions';

#side-panel {
  background-color: $side-panel-background;
  color: $side-panel-color;

  overflow-x: hidden;

  @include animate(flex, min-width);

  flex: $side-panel-proportion;
  min-width: $side-panel-min-width;

  &.closed {
    flex: 0;
    min-width: $side-panel-width-closed;
  }
}
