@import '../../fonts';
@import '../../sizes';

#title:before {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}

#title {
  position: relative;
  min-height: $title-min-height;

  #title-contents {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;

    h1 {
      line-height: $big;
      font-size: $huge;
      width: 100%;
      text-align: center;
      margin-bottom: $tiny;
      color: $light-grey;
    }

    div {
      @extend .leipziger-antiqua-regular;
      width: 100%;
      text-align: center;
    }
  }
}
