@import '../../../sizes';
@import '../colors';

.toggled-spec-control-checkbox-input {
  min-width: $control-height !important;
  width: $control-height !important;
  max-width: $control-height !important;

  input[type=checkbox] {
    cursor: pointer;
    flex: 0;
    min-width: $control-height;
    margin: 0;
    opacity: 0;
  }

  svg.fa-check-square,
  svg.fa-square {
    color: $spec-control-thumb-and-checkbox;
    width: $control-height;
    height: $control-height;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
  }

  &:hover {
    svg.fa-check-square,
    svg.fa-square {
      color: $spec-control-thumb-and-checkbox-hover;
    }
  }
}
