{
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "no-empty-source": null,
    "scss/no-global-function-names": null,
    "function-no-unknown": null
  }
}
