@import '../../sizes';

#presets {
  div,
  select {
    margin-left: $presets-spacing;
    min-width: $control-width;
    margin-bottom: $spec-panel-bottom-spacing;
    padding: 0 $presets-spacing;
    height: $control-height;
    border: none;
    outline: none;
    border-radius: $border-size;
  }
}
