@import "../../../colors";
@import "../../../fonts";
@import "../../../sizes";
@import "../sizes";

li {
  padding-bottom: $pattern-list-item-spacing;
  width: $pattern-list-item-width;

  div {
    font-size: $detail-text-size;

    &:first-child {
      font-size: $important-text-size;
      line-height: $important-text-size;

      @extend %leipziger-antiqua-bold;
    }
  }

  &:hover {
    cursor: pointer;
    color: $dark-area-hover !important;

    div:first-child {
      color: $dark-area-hover-with-emphasis !important;
    }
  }

  &.selected {
    color: $dark-area-selected;

    div:first-child {
      color: $dark-area-selected-with-emphasis;
    }
  }

  &.not-selected {
    color: $dark-area-color;

    div:first-child {
      color: $dark-area-color;
    }
  }
}
