@import '../../../baseSizes';

$arrayed-field-width: $enormous;
$arrayed-spec-control-input-width: $huge;

$arrayed-spec-control-input-horizontal-spacing: $small;
$arrayed-spec-control-input-vertical-spacing: $tiny;

$add-or-remove-field-horizontal-spacing: $medium;

$spec-control-spacing: $medium;

$units-size: $big;
