@import '../../colors';
@import '../../effects';
@import '../../sizes';
@import './proportions';
@import './sizes';

#hamburger {
  flex: $hamburger-proportion;

  background-color: $side-panel-background;
  color: $side-panel-color;
  &:hover {
    color: $side-panel-hover;
  }

  display: flex;
  align-items: flex-end;
  flex-direction: column;

  padding: 0;
  width: $side-panel-width;

  box-shadow: $pattern-list-fade-horizontal-offset $pattern-list-fade-vertical-offset-for-top $pattern-list-fade-size $side-panel-background;
  z-index: 1;

  svg {
    width: $control-height;
    height: $control-height;
    padding: $hamburger-padding;
  }
}
