@import '../../colors';
@import '../../sizes';
@import '../../effects';

#hamburger {
  background-color: $dark-grey;
  color: $grey;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0;

  box-shadow: $medium $big $big $dark-grey;
  z-index: 1;

  width: $big-area;

  &:hover {
    color: $light-grey;
  }

  svg {
    width: $big;
    height: $big;
    padding: $small;
  }
}
