ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  padding-bottom: 10px;

  div:first-child {
    font-size: 14px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      color: #444466;
    }
  }

  div {
    font-size: 12px;
  }
}
