@import '../../colors';
@import '../../sizes';
@import '../../fonts';

ul {
  list-style: square;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

li {
  padding-bottom: $small;
  color: $grey;

  div:first-child {
    font-size: $medium;
    @extend .leipziger-antiqua-bold;
  }

  div:last-child {
    color: $grey;
  }

  div {
    font-size: $small;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    color: $light-grey;
  }

  &.selected {
    color: $almost-white;
  }
}
