@import '../../sizes.scss';

#pattern-list {
  margin-top: $medium;

  overflow: hidden;
  position: relative;
  height: $huge-area;

  ul {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -$medium;
    overflow: auto;

    list-style: square;
  }
}
