@import '../../colors';
@import '../../fonts';
@import '../../sizes';
@import './sizes';

li {
  padding-bottom: $pattern-list-item-spacing;
  width: $pattern-list-item-width;

  div:first-child {
    font-size: $important-text-size;
    line-height: $important-text-size;
    @extend .leipziger-antiqua-bold;
  }

  div {
    font-size: $detail-text-size;
  }

  &:hover {
    cursor: pointer;
    color: $side-panel-hover !important;

    div:first-child {
      color: $side-panel-hover-with-emphasis !important;
    }
  }

  &.selected {
    color: $side-panel-selected;

    div:first-child {
      color: $side-panel-selected-with-emphasis;
    }
  }

  &.not-selected {
    color: $side-panel-color;

    div:first-child {
      color: $side-panel-color;
    }
  }
}
