@import '../../colors';
@import '../../sizes';
@import '../../fonts';

li {
  padding-bottom: $small;
  color: $grey;
  width: $small-area;

  div:first-child {
    color: $dark-grey;
    font-size: $medium;
    line-height: $small;
    @extend .leipziger-antiqua-bold;
  }

  div {
    font-size: $small;
  }

  &:hover {
    cursor: pointer;
    color: $light-grey !important;

    div:first-child {
      color: $lighter-grey !important;
    }
  }

  &.selected {
    color: $lighter-grey;

    div:first-child {
      color: $almost-white;
    }
  }

  &.not-selected {
    color: $grey;

    div:first-child {
      color: $grey;
    }
  }
}
