@import '../../fonts';
@import '../../sizes';

#title {
  position: relative;
  min-height: $title-min-height;

  #title-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $medium-area;

    h1 {
      line-height: $big;
      font-size: $huge;
      width: 100%;
      text-align: center;
      margin-bottom: $tiny;
      color: $light-grey;
    }

    div {
      @extend .leipziger-antiqua-regular;
      width: 100%;
      text-align: center;
    }
  }
}
