@import '../../colors';
@import '../../fonts';
@import '../../sizes';
@import './proportions';
@import './sizes';

#title {
  flex: $title-proportion;
  height: $title-height;
  width: $title-width;
  margin-right: $side-panel-width-closed;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: $pattern-list-fade-horizontal-translation $pattern-list-fade-vertical-translation-for-bottom $pattern-list-fade-size $side-panel-background;
  z-index: 1;

  & > div {
    flex: $title-text-proportion;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      @extend .leipziger-antiqua-regular;

      font-size: $detail-text-size;
    }

    text-align: center;

    h1 {
      line-height: $title-line-height;
      font-size: $title-text-size;
      width: $pattern-list-item-width;
      text-align: center;
      margin-bottom: 0;
      color: $side-panel-color-with-emphasis;
      cursor: pointer;

      &:hover {
        color: $side-panel-hover-with-emphasis;
      }
    }
  }

  & > div:first-child {
    flex: $title-symbol-proportion;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    svg {
      width: $musical-patterns-symbol-size;
      height: $musical-patterns-symbol-size;
      cursor: pointer;

      polygon {
        fill: $side-panel-color-with-emphasis;

        &:hover {
          color: $side-panel-hover-with-emphasis;
        }
      }
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;

    &:hover {
      color: $side-panel-hover-with-emphasis;
    }
  }
}
