@import '../../../effects';
@import '../sizes';

#second-row {
  min-height: $second-row-height;

  @include animate(min-height);

  &.closed {
    min-height: 0;
  }

  .middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
