@import '../../../colors';
@import '../../../fonts';
@import '../../../sizes';
@import '../proportions';
@import '../sizes';

#logo {
  flex: $logo-proportion;
  height: $logo-height;
  width: $logo-width;
  margin-right: $left-column-width-closed;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: $fade-horizontal-translation $fade-vertical-translation-for-bottom $fade-size $dark-area-background;
  z-index: 1;

  & > div {
    flex: $logo-text-proportion;
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      @extend .leipziger-antiqua-regular;

      font-size: $detail-text-size;
    }

    text-align: center;

    h1 {
      line-height: $logo-line-height;
      font-size: $title-text-size;
      width: $title-width;
      text-align: center;
      margin-bottom: 0;
      color: $dark-area-color-with-emphasis;
      cursor: pointer;

      &:hover {
        color: $dark-area-hover-with-emphasis;
      }
    }
  }

  & > div:first-child {
    flex: $logo-symbol-proportion;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    svg {
      width: $logo-symbol-size;
      height: $logo-symbol-size;
      cursor: pointer;

      polygon {
        fill: $dark-area-color-with-emphasis;

        &:hover {
          color: $dark-area-hover-with-emphasis;
        }
      }
    }
  }

  a {
    color: inherit;
    text-decoration: inherit;
    font-family: inherit;

    &:hover {
      color: $dark-area-hover-with-emphasis;
    }
  }
}
