@import "../../baseSizes";

$no-pattern-message-horizontal-spacing: $enormous;
$no-pattern-message-spacing: $big;
$no-pattern-message-width: $enormous;

$pattern-list-width: $medium-area;
$pattern-list-item-width: $small-area;

$pattern-list-scroll-bar-hiding-translation: -$big;
$pattern-list-spacing-to-keep-the-top-and-bottom-elements-out-of-the-shadow: $huge;

$pattern-list-item-spacing: $medium;

$left-column-width-closed: $enormous;
