@import '../../effects';
@import '../colors';
@import '../sizes';

#timeline {
  @include animate(background);

  flex: auto;
  height: $time-control-size;
  padding-right: $time-controls-horizontal-spacing;
  background: $time-controls-background;

  &::-webkit-slider-runnable-track {
    background: $time-controls-border-and-track;
  }

  &::-moz-range-track {
    background: $time-controls-border-and-track;
  }

  &::-ms-track {
    background: $time-controls-border-and-track;
  }

  &::-webkit-slider-thumb {
    background: $time-controls-thumb;
  }

  &::-moz-range-thumb {
    background: $time-controls-thumb;
  }

  &::-ms-thumb {
    background: $time-controls-thumb;
  }

  &:disabled {
    background: $time-controls-background-disabled;

    &::-webkit-slider-runnable-track {
      background: $time-controls-border-and-track-disabled;
    }

    &::-moz-range-track {
      background: $time-controls-border-and-track-disabled;
    }

    &::-ms-track {
      background: $time-controls-border-and-track-disabled;
    }

    &::-webkit-slider-thumb {
      background: $time-controls-thumb-disabled;
    }

    &::-moz-range-thumb {
      background: $time-controls-thumb-disabled;
    }

    &::-ms-thumb {
      background: $time-controls-thumb-disabled;
    }
  }

  &:enabled:hover {
    &::-webkit-slider-runnable-track {
      @include no-animate();

      background: $time-controls-border-and-track-hover;
    }

    &::-moz-range-track {
      @include no-animate();

      background: $time-controls-border-and-track-hover;
    }

    &::-ms-track {
      @include no-animate();

      background: $time-controls-border-and-track-hover;
    }

    &::-webkit-slider-thumb {
      @include no-animate();

      background: $time-controls-thumb-hover;
    }

    &::-moz-range-thumb {
      @include no-animate();

      background: $time-controls-thumb-hover;
    }

    &::-ms-thumb {
      @include no-animate();

      background: $time-controls-thumb-hover;
    }
  }
}
