@import "../../../../colors";
@import "../../../../effects";
@import "../../../../sizes";
@import "../sizes";

#spec-panel {
  margin: $spec-panel-spacing;
  max-width: $spec-panel-max-width;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include animate(height);

  @media screen and (max-width: $mobile-size) {
    max-width: $mobile-spec-panel-max-width;
  }

  @media screen and (max-width: $little-mobile-size) {
    max-width: $little-mobile-spec-panel-max-width;
  }

  @media screen and (max-width: $littler-mobile-size) {
    max-width: $littler-mobile-spec-panel-max-width;
  }

  @media screen and (max-width: $littlest-mobile-size) {
    max-width: $littlest-mobile-spec-panel-max-width;
  }

  div {
    margin-bottom: $spec-panel-bottom-spacing;
  }

  &.open {
    min-height: $spec-panel-height;
  }

  &.closed {
    height: $spec-panel-closed-height;
  }
}
