@import '../../../../sizes';
@import '../sizes';

#presets {
  margin-bottom: $spec-controls-vertical-spacing !important;

  div,
  select {
    margin-left: $presets-spacing;
    min-width: $control-width;
    max-width: $presets-width;
    margin-bottom: $spec-panel-bottom-spacing;
    padding: 0 $presets-spacing;
    height: $control-height;
    border: none;
    outline: none;
    border-radius: $border-size;
  }
}
