@import '../../baseProportions';

$left-column-proportion: 1;

$hamburger-proportion: 1;
$pattern-list-proportion: $phi * $phi * $phi * $phi;
$logo-proportion: $phi;

$logo-symbol-proportion: 1;
$logo-text-proportion: $phi;
