@import "../../baseSizes";

$left-column-width: $big-area;
$left-column-min-width: $medium-area;
$left-column-width-closed: $enormous;

$hamburger-padding: $medium;

$pattern-panel-height: $huge-area;

$title-width: $small-area;

$logo-line-height: 28px;
$logo-height: $small-area;
$logo-width: $medium-area;
$logo-symbol-size: $big;
