@import '../../colors';
@import '../../effects';
@import '../../sizes';
@import '../../proportions';

#left-column {
  background-color: $left-column-background;
  color: $left-column-color;
  overflow-x: hidden;

  @include animate(flex, min-width);

  flex: $left-column-proportion;
  min-width: $left-column-min-width;

  &.closed {
    flex: 0;
    min-width: $left-column-width-closed;
  }
}
