@import "../../../colors";
@import "../../../effects";
@import "../proportions";
@import "../sizes";

#left-column {
  background-color: $dark-area-background;
  color: $dark-area-color;
  overflow-x: hidden;

  @include animate(flex, min-width);

  flex: $left-column-proportion;
  min-width: $left-column-min-width;

  &.closed {
    flex: 0;
    min-width: $left-column-width-closed;
  }
}
