@import '../../colors';

.ranged-spec-control-range-input {
  background: $control-background !important;

  &::-webkit-slider-runnable-track {
    background: $spec-control-track !important;
  }

  &::-moz-range-track {
    background: $spec-control-track !important;
  }

  &::-ms-track {
    background: $spec-control-track !important;
  }

  &::-webkit-slider-thumb {
    background: $spec-control-thumb-and-checkbox !important;
  }

  &::-moz-range-thumb {
    background: $spec-control-thumb-and-checkbox !important;
  }

  &::-ms-thumb {
    background: $spec-control-thumb-and-checkbox !important;
  }

  &:hover:enabled {
    transition: none;
    background: $control-background-hover !important;

    &::-webkit-slider-runnable-track {
      transition: none;
      background: $spec-control-track-hover !important;
    }

    &::-moz-range-track {
      transition: none;
      background: $spec-control-track-hover !important;
    }

    &::-ms-track {
      transition: none;
      background: $spec-control-track-hover !important;
    }

    &::-webkit-slider-thumb {
      transition: none;
      background: $spec-control-thumb-and-checkbox-hover !important;
    }

    &::-moz-range-thumb {
      transition: none;
      background: $spec-control-thumb-and-checkbox-hover !important;
    }

    &::-ms-thumb {
      transition: none;
      background: $spec-control-thumb-and-checkbox-hover !important;
    }
  }
}
