@import '../../baseColors';

$time-controls-hover: $almost-white;

$time-controls-color: $lighter-grey;
$time-controls-background: $darker-grey;
$time-controls-border-and-track: $dark-grey;
$time-controls-thumb: $grey;

$time-controls-color-disabled: $light-grey;
$time-controls-background-disabled: $lighter-grey;
$time-controls-border-and-track-disabled: $light-grey;
$time-controls-thumb-disabled: $light-grey;

$time-controls-border-and-track-hover: $grey;
$time-controls-thumb-hover: $light-grey;
