@import '../../colors';
@import '../../sizes';
@import '../../effects';
@import './timeline';
@import './timeInMinutesAndSeconds';
@import './timeControls';
@import './immersiveAudio';

#no-pattern-message {
  margin: $big 0;
  font-size: $small;
}

#performer {
  display: flex;
  align-items: center;

  #time-controls-container {
    flex: auto;
    padding-right: $medium;
  }
}
