@import '../../baseStyles';

$toggle-immersive-audio-button-width: 1px * nth($fibonacci-series, 9 + $fibonacci-series-size-translation);

$time-controls-vertical-spacing: $small;
$time-controls-horizontal-spacing: $medium;

$time-control-size: $big;
$time-control-spacing: $small;

$no-pattern-message-width: $enormous;
$time-in-minutes-and-seconds-width: $enormous;
$minutes-or-seconds-width: $big;
$time-colon-width: $small;

$performer-panel-max-height: $medium-area;
