@import '../../root/styles/colors';

input[type=range] {
  -webkit-appearance: none;
  border: none;
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  background: $light-grey;
  height: 2px;
}

input[type=range]::-moz-range-track {
  background: $light-grey;
  height: 2px;
}

input[type=range]::-ms-track {
  background: $light-grey;
  height: 2px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 2px;
  background: $dark-grey;
  margin-top: -7px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 2px;
  background: $dark-grey;
  margin-top: -7px;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 2px;
  background: $dark-grey;
  margin-top: -7px;
}
