@import '../../colors';
@import '../../sizes';

#timeline {
  transition: background $duration $easeInOutQuint;

  background: $almost-black;

  &:disabled {
    background: $lighter-grey;
  }

  &::-webkit-slider-runnable-track {
    background: $dark-grey;
  }

  &:disabled::-webkit-slider-runnable-track {
    background: $light-grey;
  }

  &:enabled:hover::-webkit-slider-runnable-track {
    transition: none;
    background: $grey;
  }

  &::-moz-range-track {
    background: $dark-grey;
  }

  &:disabled::-moz-range-track {
    background: $light-grey;
  }

  &:enabled:hover::-moz-range-track {
    transition: none;
    background: $grey;
  }

  &::-ms-track {
    background: $dark-grey;
  }

  &:disabled::-ms-track {
    background: $light-grey;
  }

  &:enabled:hover::-ms-track {
    transition: none;
    background: $grey;
  }

  &::-webkit-slider-thumb {
    background: $grey;
  }

  &:disabled::-webkit-slider-thumb {
    background: $light-grey;
  }

  &:enabled:hover::-webkit-slider-thumb {
    transition: none;
    background: $light-grey;
  }

  &::-moz-range-thumb {
    background: $grey;
  }

  &:disabled::-moz-range-thumb {
    background: $light-grey;
  }

  &:enabled:hover::-moz-range-thumb {
    transition: none;
    background: $light-grey;
  }

  &::-ms-thumb {
    background: $grey;
  }

  &:disabled::-ms-thumb {
    background: $light-grey;
  }

  &:enabled:hover::-ms-thumb {
    transition: none;
    background: $light-grey;
  }
}
