@import '../../colors';
@import '../../sizes';
@import '../../effects';

#time-controls {
  transition: background $duration $easeInOutQuint, color $duration $easeInOutQuint, border $duration $easeInOutQuint;

  display: flex;
  align-items: center;
  padding: $tiny $small;
  font-size: $medium;

  border-radius: $border-size;
  border: $border-size solid $dark-grey;
  background: $almost-black;
  color: $lighter-grey;

  button {
    transition: background $duration $easeInOutQuint;
    @include no-glow();

    height: $medium;
    min-width: $medium;
    width: $medium;
    margin-right: $tiny;
    background: $almost-black;
    padding: 0;

    &:disabled {
      background: $lighter-grey;
    }

    svg {
      width: $medium;
      height: $medium;
    }
  }

  input {
    flex: auto;
    height: $medium;
    padding-right: $small;
  }

  path {
    color: $lighter-grey;

    &:hover {
      color: $almost-white;
    }
  }

  &.disabled {
    border: $border-size solid $light-grey;
    background: $lighter-grey;
    color: $light-grey;

    path {
      color: $light-grey;

      &:hover {
        color: $light-grey;
      }
    }
  }
}
