@import '../sizes';

.add,
.remove {
  margin-left: $spec-controls-horizontal-spacing;
  margin-bottom: $spec-panel-bottom-spacing;
}

.arrayed-spec-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
