@import '../../../baseStyles';

$arrayed-control-width: $enormous;
$arrayed-control-input-width: $huge;
$arrayed-control-spacing: $medium;

$arrayed-control-input-horizontal-spacing: $small;
$arrayed-control-input-vertical-spacing: $tiny;
