@import '../../../sizes';
@import '../../sizes';

#no-pattern-message {
  padding: $middle-plus-right-columns-spacing $middle-plus-right-columns-horizontal-spacing;
  font-size: $detail-text-size;
  width: $no-pattern-message-width;
}
