@import "../../baseColors";

@use "sass:list" as *;

$time-controls-color: nth($greys, 6);
$time-controls-background: nth($greys, 2);
$time-controls-border-and-track: nth($greys, 3);
$time-controls-thumb: nth($greys, 4);

$time-controls-color-disabled: nth($greys, 5);
$time-controls-background-disabled: nth($greys, 6);
$time-controls-border-and-track-disabled: nth($greys, 5);
$time-controls-thumb-disabled: nth($greys, 5);

$time-controls-border-and-track-hover: nth($greys, 4);
$time-controls-thumb-hover: nth($greys, 5);
