@import "../../baseSizes";

@use "sass:list" as *;

$toggle-immersive-audio-button-width: 1px * nth($fibonacci-series, 9 + $fibonacci-series-size-translation);

$time-controls-vertical-spacing: $small;
$time-controls-horizontal-spacing: $medium;
$time-controls-margin-right: $big;

$time-control-size: $big;
$time-control-spacing: $small;

$time-in-minutes-and-seconds-width: $enormous;
$minutes-or-seconds-width: $big;
$time-colon-width: $small;

$performer-panel-max-height: $medium-area;
$performer-panel-vertical-spacing: $small;
$performer-panel-horizontal-spacing: $enormous;
