@import '../../baseColors';

$control-background: $lighter-grey;
$control-background-hover: $almost-white;

$spec-control-track: $grey;
$spec-control-thumb-and-checkbox: $darker-grey;

$spec-control-track-hover: $light-grey;
$spec-control-thumb-and-checkbox-hover: $dark-grey;
