@import '../../colors';

.spec-control {
  input[type=range] {
    background: $lighter-grey;
  }

  input[type=range]:hover {
    transition: none;
    background: $almost-white;
  }

  input[type=range]::-webkit-slider-runnable-track {
    background: $grey;
  }

  input[type=range]::-moz-range-track {
    background: $grey;
  }

  input[type=range]::-ms-track {
    background: $grey;
  }

  input[type=range]:hover::-webkit-slider-runnable-track {
    transition: none;
    background: $light-grey;
  }

  input[type=range]:hover::-moz-range-track {
    transition: none;
    background: $light-grey;
  }

  input[type=range]:hover::-ms-track {
    transition: none;
    background: $light-grey;
  }

  input[type=range]::-webkit-slider-thumb {
    background: $almost-black;
  }

  input[type=range]::-moz-range-thumb {
    background: $almost-black;
  }

  input[type=range]::-ms-thumb {
    background: $almost-black;
  }

  input[type=range]:hover::-webkit-slider-thumb {
    transition: none;
    background: $dark-grey;
  }

  input[type=range]:hover::-moz-range-thumb {
    transition: none;
    background: $dark-grey;
  }

  input[type=range]:hover::-ms-thumb {
    transition: none;
    background: $dark-grey;
  }
}
