@import '../../colors';
@import '../../sizes';

.pattern-spec-control {
  position: relative;

  .invalid-message {
    transition: opacity $duration $easeInOutQuint;

    opacity: 0;
    z-index: 1;

    content: attr(message);

    position: absolute;
    top: $big;
    left: 38.2%;

    padding: $tiny;

    background: $invalid;

    font-size: $small;

    border-radius: $border-size;

    pointer-events: none;
  }

  &:hover .invalid-message {
    opacity: 0.618;
  }
}
