@import '../../colors';
@import '../../effects';
@import './proportions';
@import './sizes';

.invalid-message {
  @include animate(opacity);

  opacity: 0;
  z-index: 1;

  content: attr(message);

  position: absolute;
  top: $invalid-message-vertical-offset;
  left: $invalid-message-horizontal-offset-percentage;

  padding: $invalid-message-spacing;

  background: $invalid-color;

  font-size: $detail-text-size;

  border-radius: $border-size;

  pointer-events: none;
}

