@import '../../colors';
@import '../../sizes';
@import '../../effects';

.spec-control {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-bottom: $border-size;

  div, input, select {
    margin-left: $small;
    min-width: $huge;
    margin-bottom: $border-size;
  }

  div {
    flex: nth($fibonacci-series, 20);
    text-align: right;
    font-size: $small;
  }

  input, select {
    background: $lighter-grey;

    padding: 0 $small;
    flex: nth($fibonacci-series, 19);
    height: $big;

    border: none;
    outline: none;
    border-radius: $border-size;

    &::selection {
      background: $focus;
    }

    &.invalid {
      @include glow($invalid);
    }

    &:hover {
      background: $almost-white;
    }
  }

  .units {
    flex: 0;
    min-width: $medium;
    margin: 0;
  }
}
