@import '../../baseSizes';

$row-min-height: $enormous;

$middle-min-width: $huge-area;
$right-min-width: $big-area;

$middle-min-width-mobile: $big-area;
$right-min-width-mobile: $medium-area;

$middle-plus-right-columns-horizontal-spacing: $enormous;
$middle-plus-right-columns-spacing: $big;
$middle-plus-right-columns-paragraph-spacing: $small;
