@import '../../colors';
@import '../../sizes';
@import './sizes';
@import './proportions';

.row {
  display: flex;
  flex-wrap: wrap;

  .middle,
  .right {
    color: $text-color;
    display: flex;
    flex-direction: column;

    p,
    img,
    iframe,
    ul,
    ol {
      padding: 0 $middle-plus-right-columns-horizontal-spacing;
    }
  }

  .middle {
    flex: $middle-proportion;
    align-items: flex-start;
    min-width: $middle-min-width;

    @media screen and (max-width: $mobile-size) {
      min-width: $middle-min-width-mobile;
    }

    background-color: $light-area-background;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: $middle-plus-right-columns-vertical-spacing $middle-plus-right-columns-horizontal-spacing 0 $middle-plus-right-columns-horizontal-spacing;
    }

    p {
      line-height: $middle-plus-right-columns-line-height;
    }
  }

  .right {
    background-color: $medium-area-background;
    text-align: right;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    p {
      font-size: $detail-text-size;
    }
  }
}
