@import '../../colors';
@import '../../sizes';
@import './colors';
@import './sizes';
@import './proportions';

.row {
  display: flex;
  flex-wrap: wrap;

  .middle,
  .right {
    color: $text-color;

    p,
    img {
      padding: $middle-plus-right-columns-paragraph-spacing $middle-plus-right-columns-horizontal-spacing;
    }
  }

  .middle {
    flex: $middle-proportion;
    min-width: $middle-min-width;

    @media screen and (max-width: $mobile-size) {
      min-width: $middle-min-width-mobile;
    }

    background-color: $middle-column-background;

    h1,
    h2,
    h3 {
      padding: $middle-plus-right-columns-spacing $middle-plus-right-columns-horizontal-spacing;
    }
  }

  .right {
    background-color: $right-column-background;
    text-align: right;
  }
}
