@import '../../../effects';
@import '../../../sizes';
@import '../colors';
@import '../proportions';
@import '../sizes';

#hamburger {
  flex: $hamburger-proportion;
  background-color: $left-column-background;

  @include hoverable-color($left-column-color);

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0;
  width: $left-column-width;
  box-shadow: $pattern-list-fade-horizontal-translation $pattern-list-fade-vertical-translation-for-top $pattern-list-fade-size $left-column-background;
  z-index: 1;

  svg {
    width: $control-height;
    height: $control-height;
    padding: $hamburger-padding;
  }
}
