@import '../../../colors';
@import '../../../effects';
@import '../../../sizes';
@import '../proportions';
@import '../sizes';

#hamburger {
  flex: $hamburger-proportion;
  background-color: $dark-area-background;

  @include hoverable-color($dark-area-color);

  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0;
  width: $left-column-width;
  box-shadow: $fade-horizontal-translation $fade-vertical-translation-for-top $fade-size $dark-area-background;
  z-index: 1;

  svg {
    width: $control-height;
    height: $control-height;
    padding: $hamburger-padding;
  }
}
