@import '../../../sizes';
@import '../sizes';

#spec-panel {
  padding: $spec-panel-spacing;
  max-width: $spec-panel-max-width;

  @media screen and (max-width: $mobile-size) {
    max-width: $mobile-spec-panel-max-width;
  }

  @media screen and (max-width: $little-mobile-size) {
    max-width: $little-mobile-spec-panel-max-width;
  }

  @media screen and (max-width: $littler-mobile-size) {
    max-width: $littler-mobile-spec-panel-max-width;
  }

  @media screen and (max-width: $littlest-mobile-size) {
    max-width: $littlest-mobile-spec-panel-max-width;
  }

  div {
    margin-bottom: $spec-panel-bottom-spacing;
  }
}
