@import '../baseStyles';

$hamburger-proportion: 1;
$pattern-list-proportion: $phi * $phi * $phi * $phi;
$title-proportion: $phi;

$title-symbol-proportion: 1;
$title-text-proportion: $phi;

$left-column-proportion: 1;
$middle-plus-right-columns-proportion: $phi + $phi + 1;

$middle-proportion: $phi;
$right-proportion: 1;
$right-proportion-closed: ((((1 / $phi) / $phi) / $phi) / $phi) / $phi;
