@use "sass:color" as *;
@use "sass:list" as *;

$base-grey: #888;

$red: #f00;
$yellow: #fc0;
$green: #cf0;
$teal: #0cf;
$blue: #00f;
$violet: #f0f;

$spectrum: ($red, $yellow, $green, $teal, $blue, $violet);

$black: #000;
$white: #fff;

$almost-black: mix($black, mix(nth($spectrum, 6), $base-grey, 100%), 96.75%);
$darker-grey: mix($black, mix(nth($spectrum, 1), $base-grey, 100% / 4), 87.25%);
$dark-grey: mix($black, mix(nth($spectrum, 2), $base-grey, 100% / 16), 66.666%);
$middle-grey: mix($white, mix(nth($spectrum, 3), $base-grey, 100% / 27), 0%);
$light-grey: mix($white, mix(nth($spectrum, 4), $base-grey, 100% / 16), 66.666%);
$lighter-grey: mix($white, mix(nth($spectrum, 5), $base-grey, 100% / 4), 87.25%);
$almost-white: mix($white, mix(nth($spectrum, 6), $base-grey, 100%), 96.75%);

$greys: ($almost-black, $darker-grey, $dark-grey, $middle-grey, $light-grey, $lighter-grey, $almost-white);

$some-random-orange-red: #dbaa;
$some-random-green-blue: #abd;
