$fibonacci-series: (1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765);
$fibonacci-series-size-translation: 4;

$eency-weency: 1px * nth($fibonacci-series, 0 + $fibonacci-series-size-translation); // 3
$tiny: 1px * nth($fibonacci-series, 1 + $fibonacci-series-size-translation); // 5
$small: 1px * nth($fibonacci-series, 2 + $fibonacci-series-size-translation); // 8
$medium: 1px * nth($fibonacci-series, 3 + $fibonacci-series-size-translation); // 13
$big: 1px * nth($fibonacci-series, 4 + $fibonacci-series-size-translation); // 21
$huge: 1px * nth($fibonacci-series, 5 + $fibonacci-series-size-translation); // 34
$enormous: 1px * nth($fibonacci-series, 6 + $fibonacci-series-size-translation); // 55
$tiny-area: 1px * nth($fibonacci-series, 7 + $fibonacci-series-size-translation); // 89
$small-area: 1px * nth($fibonacci-series, 8 + $fibonacci-series-size-translation); // 144
$medium-area: 1px * nth($fibonacci-series, 9 + $fibonacci-series-size-translation); // 233
$big-area: 1px * nth($fibonacci-series, 10 + $fibonacci-series-size-translation); // 377
$huge-area: 1px * nth($fibonacci-series, 11 + $fibonacci-series-size-translation); // 610
$enormous-area: 1px * nth($fibonacci-series, 11 + $fibonacci-series-size-translation); // 987
