$base-color: #898988;

$black: mix(#000000, $base-color, 100%);
$almost-black: mix(#000000, $base-color, 75%);
$dark-grey: mix(#000000, $base-color, 50%);
$grey: mix(#ffffff, $base-color, 25%);
$light-grey: mix(#ffffff, $base-color, 75%);
$almost-white: mix(#ffffff, $base-color, 87.5%);
$white: mix(#ffffff, $base-color, 100%);

$invalid: #ddaaaa;
$unsubmitted: #ddddaa;
$focus: #aaccdd;
$hover: #444844;
