@import './sizes';
@import './baseStyles';

@mixin hoverable-color($some-grey) {
  $i: 1;
  $grey-index: 1;

  @for $i from 1 through length($greys) - 1 {
    @if $some-grey == nth($greys, $i) {
      $grey-index: $i;
    }
  }

  color: nth($greys, $grey-index);

  &:hover:not([disabled]) {
    color: nth($greys, $grey-index + 1);
  }
}

@mixin hoverable-background($some-grey) {
  $i: 1;
  $grey-index: 1;

  @for $i from 1 through length($greys) - 1 {
    @if $some-grey == nth($greys, $i) {
      $grey-index: $i;
    }
  }

  background-color: nth($greys, $grey-index);

  &:hover:not([disabled]) {
    background-color: nth($greys, $grey-index + 1);
  }
}

@mixin glow($color) {
  box-shadow: 0 0 $box-shadow-size $box-shadow-size $color;
  -webkit-box-shadow: 0 0 $box-shadow-size $box-shadow-size $color;
  -webkit-appearance: none;
}

@mixin no-glow() {
  box-shadow: none;
  -webkit-box-shadow: none;
}

@mixin animate($properties...) {
  $transition: ();

  @each $property in $properties {
    $transition: append($transition, $property 0.25s cubic-bezier(0.86, 0, 0.07, 1), comma);
  }

  transition: $transition;
}

@mixin no-animate() {
  transition: none;
}
