%leipziger-antiqua-bold {
  font-weight: normal;
  font-family: LeipzigerAnt-Dem, serif;
}

%leipziger-antiqua-regular {
  font-weight: normal;
  font-family: LeipzigerAnt-Reg, serif;
}

.leipziger-antiqua-bold {
  @extend %leipziger-antiqua-bold;
}

.leipziger-antiqua-regular {
  @extend %leipziger-antiqua-regular;
}

.leipziger-antiqua-small-caps {
  font-weight: normal;
  font-family: LeipzigerAntCapReg, serif;
}

.leipziger-antiqua-italics {
  font-weight: normal;
  font-family: LeipzigerAnt-Ita, serif;
}

* {
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %leipziger-antiqua-bold;
}
