@import './sizes';
@import './colors';
@import './effects';

input[type=range] {
  @include animate(background);

  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;

  &:disabled {
    cursor: inherit;
  }
}

input[type=range]::-webkit-slider-runnable-track {
  @include animate(background);

  border-radius: $border-size;
  height: $track-width;
}

input[type=range]:enabled:hover::-webkit-slider-runnable-track {
  @include no-animate();
}

input[type=range]::-moz-range-track {
  @include animate(background);

  border-radius: $border-size;
  height: $track-width;
}

input[type=range]:enabled:hover::-moz-range-track {
  @include no-animate();
}

input[type=range]::-ms-track {
  @include animate(background);

  border-radius: $border-size;
  height: $track-width;
}

input[type=range]:enabled:hover::-ms-track {
  @include no-animate();
}

input[type=range]::-webkit-slider-thumb {
  @include animate(background);

  -webkit-appearance: none;
  border: none;
  border-radius: $border-size;
  height: $thumb-height;
  width: $thumb-width;
  margin-top: $timeline-offset;
}

input[type=range]:enabled:hover::-webkit-slider-thumb {
  @include no-animate();
}

input[type=range]::-moz-range-thumb {
  @include animate(background);

  -webkit-appearance: none;
  border: none;
  border-radius: $border-size;
  height: $thumb-height;
  width: $thumb-width;
  margin-top: $timeline-offset;
}

input[type=range]:enabled:hover::-moz-range-thumb {
  @include no-animate();
}

input[type=range]::-ms-thumb {
  @include animate(background);

  -webkit-appearance: none;
  border: none;
  border-radius: $border-size;
  height: $thumb-height;
  width: $thumb-width;
  margin-top: $timeline-offset;
}

input[type=range]:enabled:hover::-ms-thumb {
  @include no-animate();
}
