@import './baseStyles';

$detail-text-size: $medium;
$important-text-size: $big;
$title-text-size: $huge;

$box-shadow-size: $eency-weency;
$border-size: $tiny;

$track-width: $tiny;
$thumb-width: $tiny;
$thumb-height: $big;
$timeline-translation: -$small;

$control-height: $huge;
$control-width: $enormous;

$side-panel-width: $big-area;
$side-panel-min-width: $medium-area;
$side-panel-width-closed: $enormous;

$main-panel-horizontal-spacing: $enormous;
$main-panel-spacing: $big;
$main-panel-paragraph-spacing: $small;

$mobile-size: $huge-area;
$little-mobile-size: $big-area;
$littler-mobile-size: $medium-area;
$littlest-mobile-size: $small-area;
