@import './baseSizes';

$detail-text-size: $medium;
$important-text-size: $big;
$title-text-size: $huge;

$border-size: $tiny;

$track-width: $tiny;
$thumb-width: $tiny;
$thumb-height: $big;
$thumb-translation: -$small;

$control-height: $huge;
$control-width: $enormous;

$toggled-control-size: $big;

$mobile-size: $huge-area;
$little-mobile-size: $big-area;
$littler-mobile-size: $medium-area;
$littlest-mobile-size: $small-area;
