@import '../../../../effects';
@import '../../../../colors';
@import '../../../../sizes';
@import '../colors';
@import '../sizes';

.inputs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: $input-left-spacing;

  input,
  select {
    @include hoverable-background($spec-control-background);

    min-width: $control-width;
    margin-left: $input-left-spacing !important;
    padding: 0 $input-left-spacing;
    height: $control-height;
    border: none;
    outline: none;
    border-radius: $border-size;

    &::selection {
      background: $focus-color;
    }

    &.invalid {
      @include glow($invalid-color);
    }
  }
}
