@import '../../../../effects';
@import '../sizes';

#spec-panel-body {
  @include animate(max-height);

  &.open {
    max-height: $spec-panel-max-height-for-animation;
  }

  &.closed {
    max-height: 0;
    overflow: hidden;
  }
}
