@import '../../../effects';
@import '../../../colors';
@import '../../sizes';

#spec-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  @include hoverable-color($text-color);

  cursor: pointer;

  button {
    background-color: $right-column-background;

    @include no-glow();

    height: $spec-panel-caret-size;
    min-width: $spec-panel-caret-size;

    svg.fa-caret-down,
    svg.fa-caret-right {
      width: $spec-panel-caret-size;
      height: $spec-panel-caret-size;
    }
  }
}
